<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>dashboard</title>
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
        <script src="/scripts/bootstrap/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" href="/">Deal</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cards">deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications">notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
